.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1/d0fa2f8fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/1b/40e33a85b2a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/2/30c6ee44b2a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/30/f038098fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/38/e011f694b4a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/57/509bf68eb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/5a/50a4338fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/70/607a2edbb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/77/30da3585b2a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/7e/3082028fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/91/907c2a8fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/9a/a0054751b2a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/a1/9065198fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/b4/704c258fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/b6/d03828dbb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/c4/805c148fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/c9/a073387cb4a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.history/e4/40f51f8fb1a000151d2bc68e08cb8ead
.metadata/.plugins/org.eclipse.core.resources/.projects/LinkedLists/.indexes/7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/LinkedLists/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/LinkedLists/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/LinkedLists/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/LinkedLists/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Miniproject/.indexes/e4/1e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Miniproject/.indexes/e4/81/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Miniproject/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Miniproject/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Miniproject/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Miniproject/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/PCSS Exercise 1/.indexes/7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PCSS Exercise 1/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PCSS Exercise 1/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/PCSS Exercise 1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PCSS Exercise 1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PCSS Exercise 1/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/markisbeautifuldad/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/markisbeautifuldad/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/markisbeautifuldad/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/markisbeautifuldad/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1233791618.index
.metadata/.plugins/org.eclipse.jdt.core/1429456332.index
.metadata/.plugins/org.eclipse.jdt.core/185975254.index
.metadata/.plugins/org.eclipse.jdt.core/1870255979.index
.metadata/.plugins/org.eclipse.jdt.core/1881322088.index
.metadata/.plugins/org.eclipse.jdt.core/1923297441.index
.metadata/.plugins/org.eclipse.jdt.core/2292250293.index
.metadata/.plugins/org.eclipse.jdt.core/2345470644.index
.metadata/.plugins/org.eclipse.jdt.core/2605728902.index
.metadata/.plugins/org.eclipse.jdt.core/2690778029.index
.metadata/.plugins/org.eclipse.jdt.core/2899965704.index
.metadata/.plugins/org.eclipse.jdt.core/2959957318.index
.metadata/.plugins/org.eclipse.jdt.core/3000975533.index
.metadata/.plugins/org.eclipse.jdt.core/3349413686.index
.metadata/.plugins/org.eclipse.jdt.core/3414683811.index
.metadata/.plugins/org.eclipse.jdt.core/3579207909.index
.metadata/.plugins/org.eclipse.jdt.core/3618673065.index
.metadata/.plugins/org.eclipse.jdt.core/3706135349.index
.metadata/.plugins/org.eclipse.jdt.core/4010474009.index
.metadata/.plugins/org.eclipse.jdt.core/4020602821.index
.metadata/.plugins/org.eclipse.jdt.core/452330869.index
.metadata/.plugins/org.eclipse.jdt.core/51467596.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Miniproject/2015/12/50/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Miniproject/2015/12/50/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
